<% include partials/_header %>

    <div class="container">
      <div class="form-container d-flex flex-column justify-content-center mt-3 mx-auto p-5">
        <h3 class="text-center title">Uncompleted Orders</h3>
        <ul id="uncompleted-orders"></ul>
      </div>
    </div>

    <div class="container">
        <div class="form-container mx-auto my-4">
                <form action='/orders/status' method='POST' class="owner-form p-5">
                    <h3 class="title text-center">Order Status Form</h3>
                    <label for="order-id">Order ID :</label><br>
                    <input type="number" min="1" class="order-text mb-4" id="order-id" name="order-id" required><br>

                    <span> Is the order ready?</span><br>

                    <input type="radio" id="order-ready" name="order-status" value="yes" required>
                    <label for="order-ready">Yes</label><br>

                    <input type="radio" id="order-not-ready" name="order-status" value="no" required>
                    <label for="order-ready">No</label><br>

                    <label for="order-minutes" class="mt-3">In how many minutes, will the order be ready? </label><br>
                    <input type="number" min="0" class="order-text" id="order-minutes" name="order-minutes" required><br>

                    <button type="submit" class="btn btn-outline-secondary mt-3">Submit</button>
                </form>
            <!-- </div> -->
      </div>

    </div>

    <% include partials/_footer %>
    <script type="text/javascript" src="../scripts/loadUncompletedOrders.js"></script>
    <script type="text/javascript" src="../scripts/owner.js"></script>
  </body>
</html>
