<% include partials/_header %>

  <div class="container mb-5">
    <div class="display-container mt-2 mx-auto p-5">
      <h3>Dishes</h3>
      <table class="table">
        <thead></thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% for(let dish of dishes) { %>
            <tr>
              <td><%= dish.name %></td>
              <td><form method="GET" action="/admin/display/<%= dish.id %>/edit"><button type="submit" class="btn btn-outline-primary">Edit</button></form></td>
              <td><form method="POST" action="/admin/display/<%= dish.id %>/delete"><button type="submit" class="btn btn-outline-danger">Delete</button></form></td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>
  </div>

  <% include partials/_footer %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript" src="../scripts/loadUncompletedOrders.js"></script>
    <script type="text/javascript" src="../scripts/owner.js"></script>
  </body>
</html>


