body {
    background: #fffbd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b20a2c, #fffbd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b20a2c, #fffbd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Lato', sans-serif;

  }

nav > a.navbar-brand {
    color: white !important;
    font-family: 'Ruthie', cursive;
    font-size: 3rem;
    letter-spacing: 0.15rem;
}

.container {
    width: 50%;
    background-color: white;
    border-radius: 5%;
}

.title {
    font-weight: 700;
}

.order-text {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #555;
}

#order-minutes:disabled {
    background-color: rgb(206, 206, 206);
}
